* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
.hero-header {
  background-image: url("https://ik.imagekit.io/bobezz/header.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #382d24;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  color: white;
}

.hero-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  padding: -10px 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 60px;
  height: 60px;
  padding-left: 60px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 100%;
}

.logo-text {
  color: #20160f;
  margin-right: auto;
  font-weight: 500;
}

.nav-links {
  list-style: none;
  padding-right: 60px;
  margin: 0;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  font-weight: 600;
}

.nav-links a:hover {
  color: #ffcf4c;
}

.hero-content {
  padding-top: 190px;
  padding-left: 50px;
  width: 900px;
  text-align: left;
  position: relative;
  z-index: 2;
}
.hero-content .underline {
  width: 200px;
  height: 3px;
  background-color: #ffffff;
  margin: 0 0 30px;
}

.hero-content h1 {
  font-size: 70px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 80px;
  color: #ffcf4c;
  margin: auto;
}

.hero-content .highlight {
  color: white;
  padding-bottom: 5px;
  display: inline-block;
}

.hero-content p {
  margin-top: 20px;
  font-size: 30px;
  line-height: 1.5;
  width: 620px;
  color: #e0d9d0;
}

.shop-now-btn1 {
  background-color: #f7f0e6;
  color: black;
  border: none;
  padding: 20px 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
  position: relative;
  top: 50px;
}

.shop-now-btn1:hover {
  background-color: #ffcc66;
  color: white;
}

.best-sellers-section {
  background-color: #f7f0e6;
  padding: 80px 50px;
  text-align: center;
}

.section-header {
  margin-bottom: 50px;
}
.section-header .underline {
  width: 100px;
  height: 3px;
  background-color: #ffc107;
  margin: 0 auto 30px;
}
.section-header h2 {
  font-size: 35px;
  font-weight: 500;
  color: #732d08;
  margin-bottom: 20px;
  border: none;
  background-color: rgba(247, 247, 247, 1);
  padding: 50px 80px;
  letter-spacing: 1.5px;
}

.section-header p {
  font-size: 25px;
  color: black;
}

.products-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.product-card {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  width: 30%;
  box-shadow: 15px 30px 1px rgba(0, 0, 0, 0.05);
  text-align: left;
}
.semua-menu {
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 20px;
  background-color: #20160f;
  width: 130px;
  text-decoration: none;
  color: white;
  margin-left: 1200px;
}
.semua-menu hover {
  background-color: red;
}

.product-image {
  background-color: rgba(247, 247, 247, 1);
  border-radius: 20px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  overflow: hidden;
}

.coffee-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.product-details h3 {
  font-size: 25px;
  color: #3e2f21;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
}

.product-details .description a {
  color: #8c786a;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
  min-height: 40px;
  margin-bottom: 15px;
}

.description a:hover {
  color: #5d4d3f;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.price {
  font-size: 20px;
  font-weight: 500;
  color: #382d24;
  margin-top: 20px;
}

.cart-btn {
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  margin-top: 20px;
}

.cart-btn:hover {
  background-color: #382d24;
  color: white;
}

.delivery-section {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://ik.imagekit.io/orangtakdikenal/image%2019.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 101vh;

  color: white;
  padding: 50px;
  box-sizing: border-box;

  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  align-items: center;
}

.delivery-content {
  width: 600px;
  padding-bottom: 20px;
}
.delivery-content .underline {
  width: 200px;
  height: 3px;
  background-color: #ffffff;
  margin: 0 0 30px;
}

.delivery-content h2 {
  font-size: 70px;
  font-weight: bold;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 10px;
  color: white;
}

.delivery-content .highlight-text {
  color: #ffcf4c;
}

.delivery-content p {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 15px;
}

.delivery-content p .p-highlight {
  color: #ffcc66;
}

.shop-now-btn {
  background-color: #ffffff;
  color: black;
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  position: relative;
  top: 20px;
}

.shop-now-btn:hover {
  background-color: #f7b70b;
  color: #ffffff;
}

.about-section {
  background-color: #f7f0e6;
  padding: 135px 50px;
  text-align: center;
}

.about-header {
  margin-bottom: 40px;
}

.about-header h2 {
  font-size: 30px;
  font-weight: 500;
  color: #382d24;
}

.about-header .story-highlight {
  color: #732d08;
  font-weight: 500;
}

.about-content {
  max-width: 800px;
  margin: 0 auto 40px auto;
  line-height: 1.8;
  color: #382d24;
  text-align: center;
}

.about-content p {
  margin-bottom: 20px;
  font-size: 25px;
  width: 900px;
  margin-left: -50px;
}

.about-footer .about-btn a {
  font-size: 30px;
  color: #8e5434;
  font-weight: 600;
  text-decoration: none;
}

.special-section {
  background-color: #fcf6ef;
  padding: 105px 50px;
  text-align: center;
}

.special-title {
  font-size: 35px;
  font-weight: 600;
  color: #382d24;
  margin-bottom: 50px;
}

.special-title .title-highlight {
  color: #f7b70b;
}

.features-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.feature-item {
  flex-basis: 30%;
  padding: 20px;
}

.icon-box {
  margin: 0 auto 20px auto;
  width: 80px;
  height: 80px;
}

.feature-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.feature-icon img {
  width: 500px;
}

.feature-item h3 {
  font-size: 35px;
  color: #382d24;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 500;
  letter-spacing: 2px;
}

.feature-item p {
  font-size: 20px;
  line-height: 1.6;
  width: 400px;
  color: #5d4d3f;
}

.product-detail-section {
  background-color: #f7f0e6;
  padding: 80px 50px;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.product-image-col {
  flex-basis: 40%;
  text-align: right;
  padding-right: 40px;
}

.coffee-image-box {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  background-color: transparent;
}

.espresso-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info-col {
  flex-basis: 400%;
  padding-left: 100px;
}

.product-info-col h2 {
  font-size: 35px;
  font-weight: 500;
  color: #732d08;
  margin-top: 0;
  margin-bottom: 30px;
}

.description-text {
  font-size: 20px;
  line-height: 1.6;
  color: #5d4d3f;
  margin-bottom: 20px;
  font-weight: 400;
}

.info-group {
  margin-top: 30px;
}

.info-title {
  font-weight: 500;
  color: #732d08;
  font-size: 25px;
  margin-bottom: 15px;
}

.info-text {
  font-size: 20px;
  color: #5d4d3f;
  margin-top: 5px;
  margin-bottom: 0;
}

.details-list {
  list-style: none;
  padding-left: 0;
  margin-top: 5px;
}

.details-list li {
  font-size: 20px;
  color: #5d4d3f;
  line-height: 1.8;
}
.liberal {
  margin-top: 30px;
  font-size: 30px;
}
.liberal li {
  font-size: 30px;
}

.testimonial-section {
  background-image: url("https://ik.imagekit.io/orangtakdikenal/coffee-791168.jpg?updatedAt=1763007775410");
  background-size: cover;
  background-position: center;
  height: 70vh;
  padding: 60px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
}

.testimonial-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.testimonial-title {
  font-size: 32px;
  font-weight: 600;
  color: white;
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
}

.testimonials-container {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  width: 100%;
  position: relative;
  z-index: 2;
}

.testimonial-card {
  background-color: rgba(56, 45, 36, 0.8);
  color: white;
  flex: 1;
  padding: 65px;
  border-radius: 15px;
  text-align: center;
  padding-inline: 20px;
}

.profile-icon {
  width: 50px;
  height: 50px;
  margin: 0 auto 20px auto;
}

.profile-icon .icon-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 100px;
}

.quote {
  font-style: normal;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.customer-name {
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.blog-section {
  padding: 60px 50px;
  background-color: transparent;
  text-align: center;
}
.blog-section span {
  color: #f7b70b;
}

.blog-section-title {
  font-size: 30px;
  font-weight: bold;
  color: #8c4c26;
  margin-bottom: 40px;
}

.blog-card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  max-width: 1300px;
  margin: 20px auto;
}

.blog-card {
  flex-basis: calc(33.333% - 20px);
  background-color: #e0d9d0;
  border-radius: 8px;
  overflow: hidden;

  padding-bottom: 20px;
  text-align: left;
}

.card-image-box {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 15px;
}

.blog-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.blog-card:hover .blog-img {
  transform: scale(1.05);
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #382d24;
  margin: 0 20px 8px 20px;
}

.card-description {
  font-size: 14px;
  line-height: 1.5;
  color: #5d4d3f;
  margin: 0 20px;
}

.contact-header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  text-align: center;
  padding: 60px 20px;
  background-color: #f7b70b;
}

.contact-header .subtitle {
  font-size: 0.9em;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-weight: bold;
  opacity: 0.8;
  color: whitesmoke;
}

.contact-header .title {
  font-size: 3em;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.contact-header .underline {
  width: 100px;
  height: 3px;
  background-color: white;
  margin: 20px auto 0;
}

.social-links-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0 0 0;
}

.social-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
  text-align: center;
  width: 100px;
  margin-inline: 70px;
  margin-bottom: 50px;
}
.social-item svg {
  width: 60px;
  margin-bottom: 20px;
}

.social-item:hover {
  color: var(--header-bg-color);
}

.social-item .icon {
  font-size: 2.5em;
  margin-bottom: 15px;
  color: var(--primary-icon-color);
}

.social-item:hover .icon {
  color: var(--header-bg-color);
}

.social-item .social-label {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 5px 0;
  color: #0000007d;
}

.social-item .social-detail {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #f7b70b;
  padding-top: 15px;
}

.separator {
  width: 1px;
  height: 140px;
  background-color: #f7b70b;
}

.copyright-bar {
  text-align: center;
  padding: 10px 20px 20px;
  color: var(--detail-color);
  font-size: 0.8em;
}

@media (max-width: 900px) {
  .social-links-container {
    flex-direction: column;
    gap: 30px;
  }

  .social-item {
    padding: 15px 0;
  }

  .separator {
    display: none;
    height: 0;
  }
}

.contact-container {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.contact-logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
}

.contact-logo img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.contact-title {
  font-size: 30px;
  font-weight: bold;
  color: #732d08;
  margin-bottom: 5px;
}

.contact-subtitle {
  font-size: 24px;
  font-weight: bold;
  color: #382d24;
  margin-top: 0;
  margin-bottom: 25px;
}

.contact-description {
  font-size: 16px;
  line-height: 1.5;
  color: #732d08;
  margin-bottom: 30px;
  font-weight: bold;
}

.contact-details {
  font-size: 16px;
  color: #382d24;
  font-weight: bold;
  margin-bottom: 40px;
  line-height: 1.8;
}

.copyright-text {
  font-size: 14px;
  color: #5d4d3f;
  margin-top: 20px;
  border-top: 1px solid #e0d9d0;
  padding-top: 20px;
}

.gallery-section {
  padding: 50px 200px;
  text-align: center;
  background-color: #ffffff;
}

.header .moments {
  color: #ffc107;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.header .title {
  color: #808080;
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 10px;
}

.header .underline {
  width: 50px;
  height: 3px;
  background-color: #ffc107;
  margin: 0 auto 30px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-item {
  overflow: hidden;
  position: relative;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.gallery-item:hover img {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.lightbox.show {
  display: block;
  opacity: 1;
}

.lightbox-content {
  margin-top: 50px;
  margin-inline: auto;
  display: block;
  width: 100%;
  max-width: 700px;
  transform: scale(0.8);
  transition: transform 0.3s ease-out;
}

.lightbox.show .lightbox-content {
  transform: scale(0.6);
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  filter: brightness(30%);
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.gallery-item:hover img {
  filter: brightness(100%);
  transform: scale(1.05);
}

.blog-section {
  background-color: white;
  padding: 60px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.blog-title {
  font-size: 2.2em;
  color: #333;
  margin-bottom: 50px;
}

.blog-cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.blog-card {
  background-color: #ffffff;
  width: 330px;
  text-align: left;
  transition: transform 0.3s ease-in-out;
}

.card-image-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(50%);
  transition: filter 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.blog-card:hover .card-image-wrapper img {
  filter: brightness(100%);
  transform: scale(1.05);
}

.card-content {
  padding-top: 15px;
  padding-bottom: 15px;
}

.card-content h3 {
  font-size: 1.3em;
  color: #333;
  margin-top: 0;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 0.95em;
  color: #555;
  line-height: 1.5;
  margin-bottom: 15px;
  height: 45px;
}

.read-more-btn {
  display: inline-block;
  font-size: 0.8em;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 2px 0;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;
}

.read-more-btn:hover {
  color: #b18844;
  border-bottom: 2px solid #b18844;
}

.blog-section {
  text-align: center;
  padding: 80px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #333;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.blog-card {
  background-color: #ffffff;
  width: 300px;
}

.blog-card img {
  width: 400px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  filter: brigh;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.card-content {
  padding: 20px 0px 0px;
  text-align: left;
  background-color: #ffffff;
  min-height: 150px;
}

.card-content h2 {
  font-size: 25px;
  color: black;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-family: Inter;
}

.card-content p {
  font-size: 20px;
  color: #555;
  margin-bottom: 50px;
  line-height: normal;
  font-weight: 400;
  width: 390px;
}

.read-more {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #583722;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.read-more:hover {
  color: #333;
  border-bottom: 2px solid #583722;
}

@media (max-width: 426px) {
  .hero-content,
  .section-header,
  .delivery-content,
  .special-section,
  .gallery-section .header,
  .testimonial-section,
  .blog-section,
  .contact-section {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .section-header p {
    font-size: 15px;
  }
  .navbar {
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 10px;
  }
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 120px;
    padding-left: 0;
  }
  .logo-text {
    display: none;
  }
  .nav-links {
    width: 100%;
    padding: 5px 0;
    gap: 25px;
  }
  .nav-links a {
    font-size: 11px;
  }

  .hero-header {
    height: 80vh;
  }
  .hero-content {
    padding-top: 80px;
    width: 100%;
    margin: 0 auto;
  }
  .hero-content h1 {
    padding-top: 30px;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .hero-content .underline {
    margin: 0 auto 20px;
  }
  .hero-content p {
    font-size: 15px;
    width: 90%;
    margin: 15px 0px 20px 0px;
  }
  .shop-now-btn1 {
    top: 15px;
    padding: 10px 20px;
  }

  .best-sellers-section {
    padding: 40px 0;
  }
  .section-header h2 {
    font-size: 25px;
    padding: 30px 10px;
  }
  .products-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
  }
  .product-card {
    width: 90%;
    margin: 10px auto;
    padding: 15px;
    box-shadow: 10px 20px 1px rgba(0, 0, 0, 0.05);
  }
  .product-image {
    height: 180px;
  }
  .coffee-img {
    width: 130px;
    height: 130px;
  }
  .product-footer {
    justify-content: space-around;
  }
  .semua-menu {
    margin: 30px auto;
    display: block;
  }

  .delivery-section {
    height: auto;
    padding: 40px 15px;
    justify-content: center;
    align-items: center;
  }
  .delivery-content {
    width: 100%;
    margin: 0 auto;
  }
  .delivery-content h2 {
    font-size: 35px;
  }
  .delivery-content p {
    font-size: 16px;
  }

  .features-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .feature-item {
    width: 90%;
    padding: 10px;
  }
  .feature-item p {
    width: auto;
    margin: 0 auto;
    font-size: 16px;
  }

  .gallery-section {
    padding: 30px 0;
  }

  .gallery-section .header {
    margin-bottom: 20px;
  }

  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 0 5px;
  }

  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 0 5px;
  }

  .testimonials-container,
  .blog-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .testimonial-card,
  .blog-card {
    width: 90%;
    margin: 0 auto;
  }
  .blog-card img {
    height: auto;
  }

  .contact-section {
    padding: 50px 0;
  }
  .social-links-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10%;
    gap: 15px;
  }
  .social-item {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .social-item:last-child {
    border-bottom: none;
  }
  .copyright-bar {
    font-size: 12px;
  }
}
